*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-width: 1220px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #0F051D;
}
.icon a{
    margin-right: 20px;
    color: #0F051D;
}