.main-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 130px;
}
.text h1{
font-size: 72px;
}
.text p{
font-size: 22px;
line-height: 36px;
color: #7B7583;
}
.text{
    margin-bottom: 200px;
}
.hero button{
    background: linear-gradient(62.05deg, #2600FC 0%, #FF00EA 100%);
    padding: 14px 40px;
    border-radius: 50px;
    cursor: pointer;
}
.metas{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 200px;
}
span{
color:rgba(255, 0, 234, 1);
font-size: 63px;
}
.collection h1{
    text-align: center;
    margin-bottom: 40px;
}
.ota{
display: flex;
align-items: center;
justify-content: space-between;
padding: 90px;
}
.text2{
    text-align: center;
}
.btn{
    border:none;
     width: 40;
height: 40;
border-width: 1px;
opacity: 1;
padding-top: 12.5px;
padding-right: 14.69px;
padding-bottom: 12.5px;
padding-left: 15.31px;
border-radius: 20px;
color: black;
cursor: pointer;
}
.btn2{
    background: linear-gradient(62.05deg, #2600FC 0%, #FF00EA 100%);
    padding: 14px 40px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 60px;
}
.s{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.ota2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Why h1{
    text-align: center;
    margin-top: 200px;
    font-size: 60px;
    margin-bottom: 100px;
}
.card3{
padding: 80px 30px;
border-radius: 24px;
border: 1px solid rgba(131, 131, 131, 0.25) }
.text3 h2{
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 28px;
margin-bottom: 10px;
margin-top: 10px;
}
.text3 p{
font-size: 20px;
line-height: 27px;

}
.ota3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 70px;
}
.text4{
    border-right: 1px solid rgba(229, 229, 229, 1);
    margin-top: 50px;
    padding: 20px;
} 
.our {
    padding: 90px;
    margin-right: 90px;
}
.w{
font-size: 20px;
color: rgba(38, 0, 252, 1)  ;
}
.text5 h1{
font-weight: 900;
font-size: 56px;
}
.our h2{
    text-align: center;
font-weight: 700;
font-style: Bold;
font-size: 64px;
}
.text5 p{
font-weight: 400;
font-size: 19px;
color: gray;
}
a{
    text-decoration: none;
    color: rgba(15, 5, 29, 1);
    border-bottom: 2px solid rgba(131, 131, 131, 0.25);
    padding: 9px;
}
.text6 h1{
font-weight: 700;
font-size: 56px;
}
.text6 p{
font-weight: 400;
font-size: 20px;
color: rgba(123, 117, 131, 1);
}
.text6{
    margin-left: 140px;
}
.f{
        margin-right: 70px;
}
.f h1{
font-weight: 700;
font-size: 56px;
}
.f p{
font-weight: 400;
font-size: 19px;
color: rgba(123, 117, 131, 1);
}
.about input{
    padding: 10px 60px;
border-radius: 50px;
margin-bottom: 40px;
}

.card4{
    width: 1200px;
    height: 315.19000244140625;
    text-align: center;
    border-top: 2px solid rgba(131, 131, 131, 0.25);
    border-bottom: 2px solid rgba(131, 131, 131, 0.25);
    border-left: 2px solid rgba(131, 131, 131, 0.25);
    border-right: 2px solid rgba(131, 131, 131, 0.25);
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 50px;
    border-radius: 32px;
}
.about h1{
font-weight: 700;
font-style: Bold;
font-size: 64px;
text-align: center;
vertical-align: middle;

}
.about p{
font-weight: 400;
font-size: 17px;
line-height: 27px;
text-align: center;

}
.ota6{
       display: flex;
    align-items: center;
    justify-content: space-evenly;
  margin-top: 50px;
}
.about button{
    padding: 7px 40px;
   margin-left: 10px;
border-radius: 50px;
background: linear-gradient(50.62deg, #2600FC 0%, #FF00EA 100%);
cursor: pointer;
}
.gg h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
font-weight: 700;
font-style: Bold;
font-size: 64px;
line-height: 64px;
text-align: center;

}
.ota2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.card5{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 90px 70px;
    border-radius: 32px;
}
.met h1{
    margin-top: 80px;
font-weight: 700;
font-style: Bold;
font-size: 64px;
line-height: 64px;
text-align: center;
}
.text7{
    text-align: center;
}
.text7 h4{
    margin-top: 12px;
}
.text7 p{
    margin-bottom: 20px;
    color: rgba(123, 117, 131, 1);
}
.you h1{
font-style: Bold;
font-size: 64px;
text-align: center;
}
.ota11{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card11{
    width: 687.5px;
    height: 656.3400268554688px;
    border-top: 2px solid rgba(131, 131, 131, 0.25);
    border-bottom: 2px solid rgba(131, 131, 131, 0.25);
    border-left: 2px solid rgba(131, 131, 131, 0.25);
    border-right: 2px solid rgba(131, 131, 131, 0.25);
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 50px;
    border-radius: 32px;
}
.text h2 i{
    margin-left: 200px;
}
.text11 i{
    margin-left: 560px;
    margin-bottom: 10px;
}
.start {
    background-image: url('eo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    border-bottom: 1px solid rgba(131, 131, 131, 0.25);
}
.start h1{
font-size: 96px;
text-align: center;
}
.start p{
font-size: 22px;
text-align: center;
}
.start button{
padding: 16px 30px;
background: linear-gradient(58.08deg, #2600FC 0%, #FF00EA 100%);
border-radius: 50px;
cursor: pointer;
}
